@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root,
::backdrop {
    /* Colors (palette)*/
    --col-black:     #0b132b;
    --col-dark-grey: #1c2541;
    --col-light-grey:#3a506b;
    --col-white:     #ecebe4;
    --col-x:         #009ddc;
    --col-o:         #efa00b;
    /* #6d9dc5,  ddd1c7*/

    /* Colors (background)*/
    --bg-col:                   var(--col-black);
    
    /* Colors (text/icons)*/
    --col-txt:                  var(--col-white);

    /* Colors (icons)*/


    /* Font family */
    --main-font: 'Century Gothic', sans-serif;

    /* Font sizes */
    --txt-fontsize:     18px;
    --txt-lineheight:   1;
    --header-h1-fontsize: 1rem;

    /* Text clamping: number of lines */

    /* Maximum width (including dashboard margin) */
    --max-width: min(1440px, 100%);

    /*Margins, gaps and paddings (+widths)*/
    --main-gap:          1.5rem;
    --main-lr-padding:   5vmin;
    --main-ud-padding:   3vmin;
    --header-ud-padding: 3vmin;

    /* Images / icons size */


    /* Radius */


    /* Shadows */
    /* --outset-shadow: 2px 2px 8px var(--col-accent-medium);
    --outset-shadow-btn-active: 2px 2px 5px var(--col-accent-medium);
    --inset-shadow: 2px 2px 2px var(--col-accent-light) inset; */

    /* Animations on hover / active / ...*/
    /* --transition-time: 0.8s; */

    /* Other info */
    --gameboard-size: 3;

}

::backdrop {
    background-color: var(--col-black);
    opacity: 0.75;
}

html {
    background-color: var(--bg-col);
    color: var(--col-txt);
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
    font-size: var(--txt-fontsize);
    line-height: var(--txt-lineheight);
}

*,
*:before,
*:after{
    font-family: inherit;
    font-size: inherit; /* 100% */
    line-height: inherit;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    user-select: none;
}


body {
    margin: 0 auto;
    height: 100vh;  /*it is assumed the same for <html>*/
    height: 100dvh; /* if supported */
    
    /* if you want to allow scroll: */
    /* min-height: 100vh; */
    /* height: 100%; */
    
    width: 100%;
    /* or max-width -- this avoids horizontal scroll bars */
    
    touch-action: manipulation; /* disable double tap to zoom on some browsers*/
}

/*****************************************************/

/* || Generic */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* || Main and Header blocks */

header,
main{
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

header{
    padding: var(--header-ud-padding) var(--main-lr-padding);
}

main{
    padding: var(--main-ud-padding) var(--main-lr-padding);
    flex:1;
    height: 100%;

    display: grid;
    grid-template-rows: min-content minmax(0,1fr);
    justify-items: center;
    gap: var(--main-gap);
}

/* || Generic icon mask: specify bg color, size and  mask-image*/

.icon-mask::before{
    --icon-len: 100%;
    display: inline-block;
    content:"";
    width: var(--icon-len); 
    height: var(--icon-len); 
    background-size: var(--icon-len) var(--icon-len);
    background-color: var(--icon-col);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

/* Generic Marker colors */
.x{
    --marker-col: var(--col-x);
}
.o{
    --marker-col: var(--col-o);
}


/* || Header */
h1{
    font-size: var(--header-h1-fontsize);
}

/* || Main - gameboard */
.gameboard-div{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

:root{
    --marker-col: transparent;

    --outcome-text-fontsize:  2rem;
    --outcome-subtext-fontsize: 1rem;

    --gameboard-gap:            2dvmin;
    --gameboard-gap-hover:      4dvmin;  
    --gameboard-padding:        var(--gameboard-gap);
    --gameboard-cell-padding:   10%;
    --outcome-gap:              0.5rem;

    --gameboard-bg-col:             var(--col-light-grey);
    --gameboard-bg-col-hover:       transparent;
    --gameboard-cell-bg-col:        var(--col-dark-grey);
    --gameboard-cell-bg-col-hover:  var(--col-light-grey);
    --gameboard-cell-bg-col-active: var(--col-light-grey);   

    --gameboard-cell-border-col:    var(--col-dark-grey);
    --gameboard-cell-border-col-hover: var(--col-light-grey);
    --gameboard-cell-border-col-active:var(--col-dark-grey);;

    --gameboard-cell-border:        0px;
    --gameboard-hover-cell-border:  5px;

    --gameboard-radius:             20px;
    --gameboard-cell-radius:        5px;
    --gameboard-hover-cell-radius:  10px;
    --gameboard-cell-radius-hover:  30px;
    --gameboard-cell-radius-active: 40px;
}

.gameboard{
    width: 100%; /* tofix height in landscape mode todo*/
    aspect-ratio: 1;
    background-color: var(--gameboard-bg-col);
    
    display: grid;
    grid-template-rows: repeat(var(--gameboard-size), 1fr);
    grid-template-columns: repeat(var(--gameboard-size), 1fr);

    gap: var(--gameboard-gap);
    padding: var(--gameboard-padding);                
    border-radius: var(--gameboard-radius);
}

.gameboard .cell{
    /* aspect-ratio: 1; */
    background-color: var(--gameboard-cell-bg-col);

    border: var(--gameboard-cell-border) solid var(--gameboard-cell-border-col);
    border-radius: var(--gameboard-cell-radius);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--gameboard-cell-padding);
}

/* Fix cells radius on vertex: you need to specify a specific class on the corner */
/* While you could use :first-child and :last-child for the TL and BR corners, */
/* you can't use CSS variables (--gameboard-size) within :nth-child() and ::nth-last-child() to get the remaining corners */
.gameboard .cell.cell-tl{
    border-top-left-radius: var(--gameboard-radius);
}
.gameboard .cell.cell-br{
    border-bottom-right-radius: var(--gameboard-radius);
}
.gameboard .cell.cell-tr{
    border-top-right-radius: var(--gameboard-radius);
}
.gameboard .cell.cell-bl{
    border-bottom-left-radius: var(--gameboard-radius);  
}

/* Mark in the cells (x and o) */
.gameboard .cell{
    --icon-len: 100%;
    --icon-col: var(--marker-col);
}

.gameboard .cell.x,
.gameboard .cell.o{
    pointer-events: none;
}


/* Hovering behaviour */
/* when hover is supported */
@media not all and (hover: none){
    .gameboard:hover{
        --gameboard-cell-border: var(--gameboard-hover-cell-border);  
        --gameboard-gap:         var(--gameboard-gap-hover);
        --gameboard-bg-col:      var(--gameboard-bg-col-hover);
        --gameboard-cell-radius: var(--gameboard-hover-cell-radius);
    }
    .gameboard .cell:hover{
        /* --gameboard-cell-radius: var(--gameboard-cell-radius-hover); */
        border-radius: var(--gameboard-cell-radius-hover);
        --gameboard-cell-bg-col:        var(--gameboard-cell-bg-col-hover);
        --gameboard-cell-border-col:    var(--gameboard-cell-border-col-hover);
    }
}

/* here replicate the same style as above, for devices not supporing hover */
/* active-specific styles are overwritten */
.gameboard:active{
    --gameboard-cell-border: var(--gameboard-hover-cell-border);  
    --gameboard-gap:         var(--gameboard-gap-hover);
    --gameboard-bg-col:      var(--gameboard-bg-col-hover);
    --gameboard-cell-radius: var(--gameboard-hover-cell-radius);
}
.gameboard .cell:active{
    /* --gameboard-cell-radius: var(--gameboard-cell-radius-active); */
    border-radius: var(--gameboard-cell-radius-active);
    --gameboard-cell-bg-col: var(--gameboard-cell-bg-col-active);
    --gameboard-cell-border-col: var(--gameboard-cell-border-col-active);
}


/* || Main - outcome div */
.outcome-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--outcome-gap);
}
.outcome-div .outcome-text{
    font-variant: small-caps;
    font-size: var(--outcome-text-fontsize);
}

.outcome-div .outcome-subtext{
    font-size: var(--outcome-subtext-fontsize);
}

.outcome-div .winner-player,
.winner-combo{
    font-variant: normal;
    color: var(--marker-col);
}

.outcome-div:not(.win) .outcome-text.win{
    display: none;
}
.outcome-div:is(.win) .outcome-text.tie{
    display: none;
}
.outcome-subtext.extra{
    visibility: hidden;
}
.outcome-div:is(.win):is(.extra) .outcome-subtext.extra{
    visibility: visible;
} 



/* https://www.svgrepo.com/svg/510273/tic-tac-toe */
.icon-mask.o::before{
    mask-image: url('data:image/svg+xml,<svg width="100%" height="100%" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="13 2 9 9"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 4C16.1193 4 15 5.11929 15 6.5C15 7.88071 16.1193 9 17.5 9C18.8807 9 20 7.88071 20 6.5C20 5.11929 18.8807 4 17.5 4ZM13 6.5C13 4.01472 15.0147 2 17.5 2C19.9853 2 22 4.01472 22 6.5C22 8.98528 19.9853 11 17.5 11C15.0147 11 13 8.98528 13 6.5ZZ" fill="%23000"></path> </g></svg>');
}
.icon-mask.x::before{
    mask-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="2 2 8.99 8.99"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><path fill-rule="evenodd" clip-rule="evenodd" d="M2.293 2.293a1 1 0 0 1 1.414 0L6.5 5.086l2.793-2.793a1 1 0 0 1 1.414 1.414L7.914 6.5l2.793 2.793a1 1 0 0 1-1.414 1.414L6.5 7.914l-2.793 2.793a1 1 0 0 1-1.414-1.414L5.086 6.5 2.293 3.707a1 1 0 0 1 0-1.414" fill="%23000"></path></svg>');
}





/* when hover is supported */
@media not all and (hover: none){

}

/* tablet or larger, or landscape (vs portrait)*/
@media only screen and (min-width: 768px), (orientation: landscape){

}




/* || Footer */
footer {
    --light-grey: rgb(210, 210, 210);
    --black: rgb(0, 0, 0);
    --ftr-fontsize: 12px;
    --ftr-font: 'Montserrat';
    --ftr-padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--light-grey);
    color: var(--black);
    font-family: var(--ftr-font), sans-serif;
    font-size: var(--ftr-fontsize);
    font-weight: 400;
    line-height: 1.2;
    padding: var(--ftr-padding);
}

footer i {
    font-size: 1.3em;
}